body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

/* header section stylesheet */
header{
    height: 850px;
    width: 60%;
    justify-content: center;
    display: flex;
    margin: auto;
    background: rgba(229, 84, 115, 0.10);

}
.header-contain{
    margin-right: 97px;
}

.header-titel-style{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    padding-top: 32px;
}
.header-paragrap{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 634px;
    padding-top: 32px;
}
.shop-now-btn{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.banner-image{
    width: 635px;
    height: 800px;
}



/* our futureed flower stylesheet */
.off_title {
    color: #272727;
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    margin: 129px 0px 24px 0px;
}

.off_description {
    color: #27272799;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    margin: 0px 375px 50px 375px;
    line-height: 30px;
}

.off_image_container {
    display: flex;
    justify-content: center;
    gap: 33px;
}

.oof_image_1st_div {
    border-radius: 190px 190px 0px 0px;
    width: 390px;
    height: 529px;
    background: #a7216226;
}

.oof_img_1 {
    padding: 101px 0px 0px 35px;
}

.oof_image_2nd_div {
    border-radius: 190px 190px 0px 0px;
    width: 390px;
    height: 529px;
    background: #0597a026;
}

.oof_img_2 {
    padding: 110px 0px 0px 18px;
}

.oof_image_3rd_div {
    border-radius: 190px 190px 0px 0px;
    width: 390px;
    height: 529px;
    background: #477d1126;
}

.oof_img_3 {
    padding: 56px 0px 0px 40px;
}

.off_description_div {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    color: #272727;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.oof_description_1 {
    padding: 0px 0px 0px 108px;
}

.oof_description_2 {
    padding: 0px 0px 0px 0px;
}

.oof_description_3 {
    padding: 0px 109px 0px 0px;
}