body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

/* header section stylesheet */
header{
    height: 850px;
    width: 60%;
    justify-content: center;
    display: flex;
    margin: auto;
    background: rgba(229, 84, 115, 0.10);

}
.header-contain{
    margin-right: 97px;
}

.header-titel-style{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    padding-top: 32px;
}
.header-paragrap{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 634px;
    padding-top: 32px;
}
.shop-now-btn{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.banner-image{
    width: 635px;
    height: 800px;
}



/* our futureed flower stylesheet */
.off_title {
    color: #272727;
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    margin: 129px 0px 24px 0px;
}

.off_description {
    color: #27272799;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    margin: 0px 375px 50px 375px;
    line-height: 30px;
}

.off_image_container {
    display: flex;
    justify-content: center;
    gap: 33px;
}

.oof_image_1st_div {
    border-radius: 190px 190px 0px 0px;
    width: 390px;
    height: 529px;
    background: #a7216226;
}

.oof_img_1 {
    padding: 101px 0px 0px 35px;
}

.oof_image_2nd_div {
    border-radius: 190px 190px 0px 0px;
    width: 390px;
    height: 529px;
    background: #0597a026;
}

.oof_img_2 {
    padding: 110px 0px 0px 18px;
}

.oof_image_3rd_div {
    border-radius: 190px 190px 0px 0px;
    width: 390px;
    height: 529px;
    background: #477d1126;
}

.oof_img_3 {
    padding: 56px 0px 0px 40px;
}

.off_description_div {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    color: #272727;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.oof_description_1 {
    padding: 0px 0px 0px 108px;
}

.oof_description_2 {
    padding: 0px 0px 0px 0px;
}

.oof_description_3 {
    padding: 0px 109px 0px 0px;
}


/* services part stylesheet */
.Service {
    background: #2727270d;
    height: 250px;
    width: 1235px;
    margin: 108px auto;
}

.service_container {
    display: flex;
    justify-content: space-around;
    padding: 70px 0px 0px 48px;
}


.img_service_container_2 {
    padding: 0px 0px 0px 142px;
}


.img_service_container_3 {
    padding: 0px 0px 0px 12px;
}

.service_details {
    display: flex;
    justify-content: space-around;
}

.service_details_1 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 0px 0px 0px;
}

.service_details_2 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 0px 0px 0px;
}

.service_details_3 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 0px 0px 0px;
}

/* part stylesheet  */
.discount {
    display: flex;
    justify-content: space-around;
    background: #e554730d;
    padding: 83px 237px 83px 181px;
}

.discount_title_container {}

.discount_title {
    color: #272727;
    font-size: 36px;
    margin: 109px 0px 23px 11px;
    font-weight: 800;
}

.discrount_description {
    color: #27272799;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 63px 0px -16px;
}

#discount_btn {
    margin: 23px 0px 0px 202px;
}



 /* Instagram part start  */
 .instagram {
    height: 89px;
    width: 1235px;
    margin: 108px auto;
}

.insta_title {
    color: #272727;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.insta_description {
    color: #27272799;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    padding: 16px 320px 32px 320px;
}

.insta_image_container {
    display: flex;

}

.insta_image1 {
    width: 300px;
    height: 330px;
    margin: 0px 10px 30px 0px;
}

.insta_image2 {
    width: 300px;
    height: 330px;
    margin: 0px 10px 30px 10px;
}

.insta_image3 {
    margin: 0px 10px 30px 10px;
    width: 300px;
    height: 330px;
}

.insta_image4 {
    margin: 0px 0px 30px 10px;
    width: 300px;
    height: 330px;
}
/* Instagram part end  */